div{
	
	border:1px dotted gray;
	margin:10px;
	padding:10px;
	
}

.table1 tr th{
	
	border:1px dotted gray;
	margin:10px;
	padding:10px;
	background:pink;
	
}

.table1 tr td{
	
	border:1px dotted gray;
	margin:10px;
	padding:10px;
	background:white;
		
}

.error{
	color:red;
}

